<f:cObject typoscriptObjectPath="f2b.preCodeHeader" />
<f:cObject typoscriptObjectPath="header" />
<f:cObject typoscriptObjectPath="f2b.postCodeHeader" />

<f:cObject typoscriptObjectPath="f2b.evaluatedPreCodeFeature" />
<f:cObject typoscriptObjectPath="feature" />
<f:cObject typoscriptObjectPath="f2b.evaluatedPostCodeFeature" />

<f:cObject typoscriptObjectPath="f2b.preCodeContent" />

<f:cObject typoscriptObjectPath="f2b.preCodeContentBlock-1" />
<f:cObject typoscriptObjectPath="contentBlock-1" />
<f:cObject typoscriptObjectPath="f2b.postCodeContentBlock-1" />

<f:cObject typoscriptObjectPath="f2b.preCodeContentBlock-2" />
<f:cObject typoscriptObjectPath="contentBlock-2" />
<f:cObject typoscriptObjectPath="f2b.postCodeContentBlock-2" />

<f:cObject typoscriptObjectPath="f2b.preCodeGeneratedContent-1" />
<f:cObject typoscriptObjectPath="generatedContent-1" />
<f:cObject typoscriptObjectPath="f2b.postCodeGeneratedContent-1" />

<f:cObject typoscriptObjectPath="f2b.preCodeFooter" />
<f:cObject typoscriptObjectPath="footer" />
<f:cObject typoscriptObjectPath="f2b.postCodeFooter" />