<f:cObject typoscriptObjectPath="f1b.preCodeHeader" />
<f:cObject typoscriptObjectPath="f1b.header" />
<f:cObject typoscriptObjectPath="f1b.postCodeHeader" />

<f:cObject typoscriptObjectPath="f1b.evaluatedPreCodeFeature" />
<f:cObject typoscriptObjectPath="feature" />
<f:cObject typoscriptObjectPath="f1b.evaluatedPostCodeFeature" />

<f:cObject typoscriptObjectPath="f1b.preCodeContent" />

<f:cObject typoscriptObjectPath="f1b.preCodeContentBlock-1" />
<f:cObject typoscriptObjectPath="contentBlock-1" />
<f:cObject typoscriptObjectPath="f1b.postCodeContentBlock-1" />

<f:cObject typoscriptObjectPath="f1b.preCodeFooter" />
<f:cObject typoscriptObjectPath="f1b.footer" />
<f:cObject typoscriptObjectPath="f1b.postCodeFooter" />