<f:cObject typoscriptObjectPath="f3c.preCodeHeader" />
<f:cObject typoscriptObjectPath="header" />
<f:cObject typoscriptObjectPath="f3c.postCodeHeader" />

<f:cObject typoscriptObjectPath="f3c.evaluatedPreCodeFeature" />
<f:cObject typoscriptObjectPath="feature" />
<f:cObject typoscriptObjectPath="f3c.evaluatedPostCodeFeature" />

<f:cObject typoscriptObjectPath="f3c.preCodeContent" />

<f:cObject typoscriptObjectPath="f3c.preCodeContentBlock-2" />
<f:cObject typoscriptObjectPath="contentBlock-2" />
<f:cObject typoscriptObjectPath="f3c.postCodeContentBlock-2" />

<f:cObject typoscriptObjectPath="f3c.preCodeContentBlock-1" />
<f:cObject typoscriptObjectPath="contentBlock-1" />
<f:cObject typoscriptObjectPath="f3c.postCodeContentBlock-1" />

<f:cObject typoscriptObjectPath="f3c.preCodeContentBlock-3" />
<f:cObject typoscriptObjectPath="contentBlock-3" />
<f:cObject typoscriptObjectPath="f3c.postCodeContentBlock-3" />

<f:cObject typoscriptObjectPath="f3c.preCodeGeneratedContent-1" />
<f:cObject typoscriptObjectPath="generatedContent-1" />
<f:cObject typoscriptObjectPath="f3c.postCodeGeneratedContent-1" />

<f:cObject typoscriptObjectPath="f3c.preCodeFooter" />
<f:cObject typoscriptObjectPath="footer" />
<f:cObject typoscriptObjectPath="f3c.postCodeFooter" />