<f:cObject typoscriptObjectPath="f1a.preCodeHeader" />
<f:cObject typoscriptObjectPath="header" />
<f:cObject typoscriptObjectPath="f1a.postCodeHeader" />

<f:cObject typoscriptObjectPath="f1a.evaluatedPreCodeFeature" />
<f:cObject typoscriptObjectPath="feature" />
<f:cObject typoscriptObjectPath="f1a.evaluatedPostCodeFeature" />

<f:cObject typoscriptObjectPath="f1a.preCodeContent" />

<f:cObject typoscriptObjectPath="f1a.preCodeContentBlock-1" />
<f:cObject typoscriptObjectPath="contentBlock-1" />
<f:cObject typoscriptObjectPath="f1a.postCodeContentBlock-1" />

<f:cObject typoscriptObjectPath="f1a.preCodeFooter" />
<f:cObject typoscriptObjectPath="footer" />
<f:cObject typoscriptObjectPath="f1a.postCodeFooter" />