<f:cObject typoscriptObjectPath="f3a.preCodeHeader" />
<f:cObject typoscriptObjectPath="header" />
<f:cObject typoscriptObjectPath="f3a.postCodeHeader" />

<f:cObject typoscriptObjectPath="f3a.evaluatedPreCodeFeature" />
<f:cObject typoscriptObjectPath="feature" />
<f:cObject typoscriptObjectPath="f3a.evaluatedPostCodeFeature" />

<f:cObject typoscriptObjectPath="f3a.preCodeContent" />

<f:cObject typoscriptObjectPath="f3a.preCodeContentBlock-1" />
<f:cObject typoscriptObjectPath="contentBlock-1" />
<f:cObject typoscriptObjectPath="f3a.postCodeContentBlock-1" />

<f:cObject typoscriptObjectPath="f3a.preCodeContentBlock-2" />
<f:cObject typoscriptObjectPath="contentBlock-2" />
<f:cObject typoscriptObjectPath="f3a.postCodeContentBlock-2" />

<f:cObject typoscriptObjectPath="f3a.preCodeContentBlock-3" />
<f:cObject typoscriptObjectPath="contentBlock-3" />
<f:cObject typoscriptObjectPath="f3a.postCodeContentBlock-3" />

<f:cObject typoscriptObjectPath="f3a.preCodeGeneratedContent-1" />
<f:cObject typoscriptObjectPath="generatedContent-1" />

<f:cObject typoscriptObjectPath="f3a.postCodeGeneratedContent-1" />

<f:cObject typoscriptObjectPath="f3a.preCodeFooter" />
<f:cObject typoscriptObjectPath="footer" />
<f:cObject typoscriptObjectPath="f3a.postCodeFooter" />